# Resources required by the sample browser and most samples.
[General]
Zip=./../Media/packs/SdkTrays.zip
FileSystem=./../Media/Models
FileSystem=./../Media/Materials/Scripts
FileSystem=./../Media/Materials/Textures
FileSystem=./../Media/Materials/Programs
